.navWrapper {
  background: lighten(red, 20%);
  display: flex;
  justify-content: space-around;
}

.navButtons {
  display: flex;
}

.navSearch {
  display: flex;
  align-items: center;
  height: 40px;
}

.navButtons p {
  margin-left: 20px;
}
