.profileWrapper {
border: 1px solid gray;
width: 30%;
}

.profileButtons {
display: flex;

}

.profileButtons p {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid gray;
}

.whiteBox h3 {
  text-align: center;

}
